@import url('/home/eli/.cache/wal/colors-waybar.css');

@define-color mauve  @color9;
@define-color red  @color9;
@define-color lavender  @color7;
@define-color text  @color7;
@keyframes fadeIn {
    0% {
    }
    100% {
    }
}

* {
    all:unset;
    font-family: 'FiraCode', monospace;
    font-size: 18px;
    outline: none;
    border: none;
    text-shadow:none;
    background-color:transparent;
}

window {
    all:unset;
    padding: 20px;
    border-radius: 1;
    border: 1px solid #3d3d3d;
    /*background-color: alpha(#1e3d3d3d,0.8);*/
    background-color: alpha(#1e1d1d,0.8);
}
#inner-box {
    margin: 2px;
    padding: 5px
    border: none;
}
#outer-box {    
    border: none;
}
#scroll {
    margin: 0px;
    padding: 30px;
    border: none;
}
#input {
    all:unset;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    padding: 20px;
    border: 1px solid #3d3d3d;
    outline: none;
    color: @text;
    border-radius: 1px;
    background-color: alpha(@background,.2);
}
#input image {
    border: none;
    color: @red;
    padding-right:20px;
}
#input * {
    border: 1px solid #3d3d3d;
    outline: none;
}

#input:focus {
    outline: none;
    border: 1px solid #595959;

    border-radius: 1;
}
#text {
    margin: 5px;
    border: none;
    color: @text;
    outline: none;
}
#text {
    margin: 5px;
    border: none;
    color: @text;
    outline: none;
}
#entry {
    border: none;
    margin: 5px;
    padding: 10px;
}
#entry arrow {
    border: none;
    color: @lavender;

}
#entry:selected {
    /*box-shadow: 1px 1px 5px rgba(255,255,255, .03);*/
    border: 1px solid #3d3d3d;
    border-radius: 1px;
    background-color:transparent;
}
#entry:selected #text {
    color: @mauve;
}
#entry:drop(active) {
    background-color: @lavender !important;
}
